<p id="notice"><%= notice %></p>

<p>
  <strong>Efetivo carteira:</strong>
  <%= @vaga.efetivo_carteira %>
</p>

<p>
  <strong>Temporario:</strong>
  <%= @vaga.temporario %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @vaga.extra %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @vaga.trainer %>
</p>

<p>
  <strong>Free lancer:</strong>
  <%= @vaga.free_lancer %>
</p>

<p>
  <strong>Autonomo:</strong>
  <%= @vaga.autonomo %>
</p>

<p>
  <strong>Representante:</strong>
  <%= @vaga.representante %>
</p>

<p>
  <strong>Comerical:</strong>
  <%= @vaga.comerical %>
</p>

<p>
  <strong>Comercial tipo:</strong>
  <%= @vaga.comercial_tipo %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @vaga.periodo %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @vaga.empresa_id %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @vaga.cargo_id %>
</p>

<p>
  <strong>Numero vagas:</strong>
  <%= @vaga.numero_vagas %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @vaga.sexo %>
</p>

<p>
  <strong>Pne:</strong>
  <%= @vaga.pne %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @vaga.estado_civil %>
</p>

<p>
  <strong>Outros detalhes candito:</strong>
  <%= @vaga.outros_detalhes_candito %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @vaga.escolaridade %>
</p>

<p>
  <strong>Area tecnologo:</strong>
  <%= @vaga.area_tecnologo %>
</p>

<p>
  <strong>Area superior:</strong>
  <%= @vaga.area_superior %>
</p>

<p>
  <strong>Status escolaridade:</strong>
  <%= @vaga.status_escolaridade %>
</p>

<p>
  <strong>Cursando periodo:</strong>
  <%= @vaga.cursando_periodo %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @vaga.experiencia %>
</p>

<p>
  <strong>Conhecimentos desejaveis:</strong>
  <%= @vaga.conhecimentos_desejaveis %>
</p>

<%= link_to 'Edit', edit_vaga_path(@vaga) %> |
<%= link_to 'Back', vagas_path %>
