<%= form_for(@dias_semanas_vaga) do |f| %>
  <% if @dias_semanas_vaga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dias_semanas_vaga.errors.count, "error") %> prohibited this dias_semanas_vaga from being saved:</h2>

      <ul>
      <% @dias_semanas_vaga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vaga_id %><br>
    <%= f.number_field :vaga_id %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
