<nav>
  <div class="breadCrumb module">
      <ul>
          <li>
              Cadastros
          </li>
          <li>&#187;</li>
          <li>
              <a href="/cities">Cidades</a>
          </li>
          <li>&#187;</li>
          <li>
              <a href="#"> Visualização </a>
          </li>

      </ul>
  </div>
</nav>

<div class="row-fluid">
    <div class="chat_box">
      <div class="row-fluid">
        <div class="well chat_content">
            <table>
              <tr>
                  <td align="right">Nome:</td>
                  <td><strong><%= @city.name %></strong></td>
              </tr>

              <tr>
                <td align="right">Estado:</td>
                <td height="35"><strong><%= @city.state.name %></strong></td>
              </tr>
              <tr>
                  <td align="right">DIMOB:</td>
                  <td><strong><%= @city.dimob %></strong></td>
              </tr>

              <tr>
                <td align="right">Número de parcelas do IPTU:</td>
                <td><strong><%= @city.plots_iptu %></strong></td>
              </tr>

              <tr>
                <td align="right">Vencimento da parcela única:</td>
                <td><strong><%= @city.vvencimiento_single_installment.strftime("%d/%m/%Y") if @city.vencimiento_single_installment != nil %></strong></td>
              </tr>

              <tr>
                <td align="right">Desconto se for parcela única:</td>
                <td><strong><%= @city.discount_quote %></strong></td>
              </tr>

              <tr>
                <td align="right">Alíquota para cálculo do IPTU:</td>
                <td><strong><%= @city.rate_calculation_iptu %></strong></td>
              </tr>

              <tr>
                <td align="right">Porcentagem de ITBI:</td>
                <td><strong><%= @city.percentage_itbi %></strong></td>
              </tr>

              <tr>
                <td></td>
                <td>
                  <%= link_to 'Voltar', cities_path, :class => "btn" %>
                </td>
              </tr>
            </table>

        </div>
      </div>
    </div>
</div>
