<%= form_for(@cargo) do |f| %>
<% if @cargo.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h2><%= pluralize(@cargo.errors.count, "erros") %> encontrados:</h2>

      <ul>
      <% @cargo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row-fluid">
    <div class="chat_box">
      <div class="row-fluid">
        <div class="well chat_content">
            <table>
              <tr>
                  <td align="right">Nome:</td>
                  <td><%= f.text_field :nome, :placeholder => 'Máximo 50 Caracteres', :maxlength => 50, autofocus: true %><span class="f_req">*</span></td>
              </tr>

              <tr>
                <td align="right"></td>
                <td height="35"><%= f.check_box :status, checked: true %> Ativo</td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <%= f.submit :value => " Salvar ", :disable_with => "Aguarde...", :class => "btn" %>
                  <%= link_to 'Voltar', cargos_path, :class => "btn" %>
                </td>
              </tr>
            </table>

        </div>
      </div>
    </div>
</div>
<% end %>
