<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @idioma.nome %>
</p>

<p>
  <strong>Status:</strong>
  <%= @idioma.status %>
</p>

<%= link_to 'Edit', edit_idioma_path(@idioma) %> |
<%= link_to 'Back', idiomas_path %>
