<h1>Listing convenios_empresa_perfils</h1>

<table>
  <thead>
    <tr>
      <th>Empresa perfil</th>
      <th>Convenio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @convenios_empresa_perfils.each do |convenios_empresa_perfil| %>
      <tr>
        <td><%= convenios_empresa_perfil.empresa_perfil_id %></td>
        <td><%= convenios_empresa_perfil.convenio_id %></td>
        <td><%= link_to 'Show', convenios_empresa_perfil %></td>
        <td><%= link_to 'Edit', edit_convenios_empresa_perfil_path(convenios_empresa_perfil) %></td>
        <td><%= link_to 'Destroy', convenios_empresa_perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convenios empresa perfil', new_convenios_empresa_perfil_path %>
