<h1>Listing dias_semanas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dias_semanas.each do |dias_semana| %>
      <tr>
        <td><%= dias_semana.nome %></td>
        <td><%= link_to 'Show', dias_semana %></td>
        <td><%= link_to 'Edit', edit_dias_semana_path(dias_semana) %></td>
        <td><%= link_to 'Destroy', dias_semana, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dias semana', new_dias_semana_path %>
