<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :tipo, value: 1 %>
  <p>
    <%= f.label :cpfcnpj %><br />
    <%= f.text_field :cpfcnpj, class: 'cnpj' %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>

<script>
$(document).ready(function () {
$("#new_user").validate({
debug: true,
rules: {
"user[cpfcnpj]": {required: true, cnpj: true, remote:"/users/check_email"},
"user[password]": {required: true, minlength: 6},
"user[password_confirmation]": {required: true, equalTo: "#user_password"}
}
});
});
</script>
