<ul>
<% @users.each do |u| %>
	<li>
		<%= u.id %> | <%= u.cpfcnpj %> - <%= u.tipo %> |
		<%= link_to 'Editar', edit_user_path(u) %> |
		<%= link_to 'Eliminar', u, method: :delete, data: { confirm: 'Are you sure?' } %>
	</li>
<% end %>
</ul>