<p id="notice"><%= notice %></p>

<p>
  <strong>Vaga:</strong>
  <%= @dias_semanas_vaga.vaga_id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @dias_semanas_vaga.nome %>
</p>

<%= link_to 'Edit', edit_dias_semanas_vaga_path(@dias_semanas_vaga) %> |
<%= link_to 'Back', dias_semanas_vagas_path %>
