<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @convenio.nome %>
</p>

<p>
  <strong>Status:</strong>
  <%= @convenio.status %>
</p>

<%= link_to 'Edit', edit_convenio_path(@convenio) %> |
<%= link_to 'Back', convenios_path %>
