<%= form_for(candidato_formacao) do |f| %>
  <% if candidato_formacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidato_formacao.errors.count, "error") %> prohibited this candidato_formacao from being saved:</h2>

      <ul>
      <% candidato_formacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :candidato_id %>

  <table>
    <tr>
      <td align="right">Nível do curso: <div class="result"></div></td>
      <td><%= f.collection_select :formacao_id, Formacao.select('id,descricao').order('1'),:id, :descricao,{prompt: 'Selecione a Formacao'} %><span class="f_req">*</span></td>
    </tr>
    <tr>
      <td align="right">Curso: <div class="result"></div></td>
      <td><%= f.collection_select :curso_id, Curso.select('id,nome').order('2'),:id, :nome, {prompt: 'Selecione o curso'} %><span class="f_req">*</span></td>
    </tr>

    <tr height="30">
      <td align="right">Estado:</td>
      <td colspan="4">
        <%= f.radio_button :status, 0, :style => "margin-top: -2px;" %> Concluído
        <%= f.radio_button :status, 1, :style => "margin-top: -2px;" %> Cursando
        <%= f.radio_button :status, 2, :style => "margin-top: -2px;" %> Trancad        
      </td>
    </tr>
    <tr>
      <td align="right">Período: </td>
      <td><%= f.select :cursando_periodo, 1..12 %></td>
    </tr>
    <tr height="30">
      <td align="right">Periodo Início:</td>
      <td colspan="4">
        <%= f.text_field :inicio_mes, size: 4, maxlength: 2, placeholder: 'mm' %>/<%= f.text_field :inicio_ano, size: 4, maxlength: 4, placeholder: 'aaaa' %>
        <small>Conclusão</small>
        <%= f.text_field :final_mes, size: 4, maxlength: 2, placeholder: 'mm' %>/<%= f.text_field :final_ano, size: 4, maxlength: 4, placeholder: 'aaaa' %>
      </td>
    </tr>
    <tr>
      <td align="right">Instituição:</td>
      <td cospan="4"><%= f.text_field :instituicao, size: 33, maxlength: 60, placeholder: 'Nome da instituição' %></td>
    </tr>
    <tr>
      <td align="right">Estado:</td>
      <td colspan="3">
        <%= f.collection_select :estado_id, State.select('id,name').order('2'),:id, :name,{prompt: 'Selecione o Estado'} %><span class="f_req">*</span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit 'Gravar', data: { disable_with: "Aguarde..." }, class: "btn btn-gebo" %></td>
    </tr>
  </table>
<% end %>


<script>
$(document).ready(function () {
  $("#new_candidato_formacao").validate({
  debug: true,
  rules: {
  "candidato_formacao[formacao_id]": {required: true},
  "candidato_formacao[curso_id]": {required: true},
  "candidato_formacao[status]": {required: true}
  "candidato_formacao[estado_id]": {required: true}
  },submitHandler:function(form) {
      form.submit();
    }
  });
});
</script>

