<div class="row-fluid">
  <div class="span12">

    <%= form_for(empresa_perfil, html:  {class: "form-horizontal"}) do |f| %>
      <% if @empresa_perfil.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@empresa_perfil.errors.count, "error") %> prohibited this empresa_perfil from being saved:</h2>

          <ul>
          <% @empresa_perfil.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h3 class="heading">PERFIL EMPRESA: <%= @empresa.razao_social.upcase %></h3>
        <div class="control-group formSep">
            <h5 class="heading">DE UMA MANEIRA GERAL, OS FUNCIONARIOS DE SUA EMPRESA PRECISAM:</h5>
            <table>
              <tr>
                <td>
                <label class="checkbox" >
                  <input type="checkbox" name="dias_semana" id="marca_todos" onclick="marcarTodos(this.checked);"><b> <span id="acao"> Marcar Todos </b></span>
                  </label>
                  <% if params["action"] == 'edit' %>
                    <input type="hidden" name="count_dias" id="count_dias" value="<%= @empresa.dias_semanas_empresa_perfils.count %>">
                  <% end %>
                </td>
                <% @dias_semanas.each do |c| %>
                  <td>
                      <%= check_box_tag "empresa_perfil[dias_semana_ids][]", c.id, @empresa_perfil.dias_semanas.include?(c) %> <%= c.nome %>
                    </label>
                  </td>
                <% end %>
              </tr>
            </table>
        </div>

        <div class="control-group formSep">
          <h5 class="heading">SUA EMPRESA OFERECE:</h5>
          <h5 class="heading">Sobre Transporte:</h5>
          <label class="checkbox" >
            <%= f.radio_button :vale_transporte, 1, :style => "margin-top: -5px;" %> Vale Transporte
            <%= f.radio_button :vale_transporte, 2, :style => "margin-top: -5px;" %> Ajuda de custo para transporte no valor de 
            <%= f.radio_button :vale_transporte, 0, :style => "margin-top: -5px;" %> A Combinar.
          </label>
          <label class="checkbox">
            Valor do Beneficio <strong>R$</strong>: <%= f.text_field :vale_transporte_valor, class: 'money', dir: "rtl", size: 15 %>
          </label>
        </div>

        <div class="control-group formSep">
          <h5 class="heading">Sobre a alimentação:</h5>
          <label class="checkbox" >
            <%= f.radio_button :vale_alimentacao, 1, :style => "margin-top: -5px;" %> Vale Alimenteção
            <%= f.radio_button :vale_alimentacao, 2, :style => "margin-top: -5px;" %> Refeitório Próprio
            <%= f.radio_button :vale_alimentacao, 3, :style => "margin-top: -5px;" %> Ajuda de custo para refeição
            <%= f.radio_button :vale_alimentacao, 0, :style => "margin-top: -5px;" %> A Combinar.
          </label>
          <label class="checkbox">
            Valor do Beneficio <strong>R$</strong>: <%= f.text_field :vale_alimentacao_valor, class: 'money', dir: "rtl", size: 15 %>
          </label>
        </div>
        </div>

        <div class="control-group formSep">
          <h5 class="heading">Convenios:</h5>
          <% @convenios.each do |c| %>
            <label class="checkbox" >
              <%= check_box_tag "empresa_perfil[convenio_ids][]", c.id, @empresa_perfil.convenios.include?(c) %> <%= c.nome %>
            </label>
          <% end %>
        </div>

        <div class="control-group formSep">
          <h5 class="heading">Documentos:</h5>
          <% @documentos.each do |c| %>
            <label class="checkbox" >
              <%= check_box_tag "empresa_perfil[documento_ids][]", c.id, @empresa_perfil.documentos.include?(c) %> <%= c.nome %>
            </label>
          <% end %>
        </div>
        <div  class="control-group formSep">
          <h3 class="heading">Um pouco sobre a  <b><%= @empresa.razao_social %></b></h3>
          <table>
            <tr>
              <td width="400"><%= f.text_area :sobre, rows: 16, cols: 40, placeholder: 'Escreva aqui um pouco sobre a empresa.' %></td>
              <td><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@empresa.latitude}%2C#{@empresa.longitude}" %></td>
            </tr>
          </table>
          
        </div>
      <div class="actions">
        <%= f.submit'Atulizar Perfil', data: { disable_with: "Aguarde..." }, class: "btn btn-gebo" %> <%= link_to 'Sair', empresas_path, :class => "btn" %>
      </div>
    <% end %>


<script type="text/javascript">
  $(document).ready(function() {

    if($('#count_dias').val() == '7'){
        $("#marca_todos").attr('checked','checked');
        document.getElementById('acao').innerHTML = 'Desmarcar Todos';
    };
  });

    function marcarTodos(marcar){
        var itens = document.getElementsByName('empresa_perfil[dias_semana_ids][]');

        if(marcar){
            document.getElementById('acao').innerHTML = 'Desmarcar Todos';
        }else{
            document.getElementById('acao').innerHTML = 'Marcar Todos';
        }

        var i = 0;
        for(i=0; i<itens.length;i++){
            itens[i].checked = marcar;
        }

    }
</script>
