<h1>Listing empresa_perfils</h1>

<table>
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Trab sabado</th>
      <th>Trab domingo feriados</th>
      <th>Trans vale transporte</th>
      <th>Trans ajuda</th>
      <th>Trans combinar</th>
      <th>Ali vale refeicao</th>
      <th>Ali refeitorio proprio</th>
      <th>Ali ajuda</th>
      <th>Ali combinar</th>
      <th>Trans vale valor</th>
      <th>Trans ajuda valor</th>
      <th>Ali vale valor</th>
      <th>Ali ajuda valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresa_perfils.each do |empresa_perfil| %>
      <tr>
        <td><%= empresa_perfil.empresa_id %></td>
        <td><%= empresa_perfil.trab_sabado %></td>
        <td><%= empresa_perfil.trab_domingo_feriados %></td>
        <td><%= empresa_perfil.trans_vale_transporte %></td>
        <td><%= empresa_perfil.trans_ajuda %></td>
        <td><%= empresa_perfil.trans_combinar %></td>
        <td><%= empresa_perfil.ali_vale_refeicao %></td>
        <td><%= empresa_perfil.ali_refeitorio_proprio %></td>
        <td><%= empresa_perfil.ali_ajuda %></td>
        <td><%= empresa_perfil.ali_combinar %></td>
        <td><%= empresa_perfil.trans_vale_valor %></td>
        <td><%= empresa_perfil.trans_ajuda_valor %></td>
        <td><%= empresa_perfil.ali_vale_valor %></td>
        <td><%= empresa_perfil.ali_ajuda_valor %></td>
        <td><%= link_to 'Show', empresa_perfil %></td>
        <td><%= link_to 'Edit', edit_empresa_perfil_path(empresa_perfil) %></td>
        <td><%= link_to 'Destroy', empresa_perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa perfil', new_empresa_perfil_path %>
