<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @empresa_perfil.empresa_id %>
</p>

<p>
  <strong>Trab sabado:</strong>
  <%= @empresa_perfil.trab_sabado %>
</p>

<p>
  <strong>Trab domingo feriados:</strong>
  <%= @empresa_perfil.trab_domingo_feriados %>
</p>

<p>
  <strong>Trans vale transporte:</strong>
  <%= @empresa_perfil.trans_vale_transporte %>
</p>

<p>
  <strong>Trans ajuda:</strong>
  <%= @empresa_perfil.trans_ajuda %>
</p>

<p>
  <strong>Trans combinar:</strong>
  <%= @empresa_perfil.trans_combinar %>
</p>

<p>
  <strong>Ali vale refeicao:</strong>
  <%= @empresa_perfil.ali_vale_refeicao %>
</p>

<p>
  <strong>Ali refeitorio proprio:</strong>
  <%= @empresa_perfil.ali_refeitorio_proprio %>
</p>

<p>
  <strong>Ali ajuda:</strong>
  <%= @empresa_perfil.ali_ajuda %>
</p>

<p>
  <strong>Ali combinar:</strong>
  <%= @empresa_perfil.ali_combinar %>
</p>

<p>
  <strong>Trans vale valor:</strong>
  <%= @empresa_perfil.trans_vale_valor %>
</p>

<p>
  <strong>Trans ajuda valor:</strong>
  <%= @empresa_perfil.trans_ajuda_valor %>
</p>

<p>
  <strong>Ali vale valor:</strong>
  <%= @empresa_perfil.ali_vale_valor %>
</p>

<p>
  <strong>Ali ajuda valor:</strong>
  <%= @empresa_perfil.ali_ajuda_valor %>
</p>

<%= link_to 'Edit', edit_empresa_perfil_path(@empresa_perfil) %> |
<%= link_to 'Back', empresa_perfils_path %>
