<%= form_for [:admin, @city] do |f| %>
  <% if @city.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h2><%= pluralize(@city.errors.count, "erros") %> encontrados:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row-fluid">
    <div class="chat_box">
      <div class="row-fluid">
        <div class="well chat_content">
            <table>
              <tr>
                  <td align="right">Nome:</td>
                  <td><%= f.text_field :name, :placeholder => 'Máximo 50 Caracteres', :maxlength => 50 %><span class="f_req">*</span></td>
              </tr>

              <tr>
                <td align="right">Estado:</td>
                <td height="35"><%= f.collection_select :state_id, State.select('id,name').order('2'),:id, :name %><span class="f_req">*</span></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <%= f.submit :value => " Salvar ", :disable_with => "Aguarde...", :class => "btn" %>
                  <%= link_to 'Voltar', admin_cities_path, :class => "btn" %>
                </td>
              </tr>
            </table>

        </div>
      </div>
    </div>
</div>
<% end %>
