<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa perfil:</strong>
  <%= @documentos_empresa_perfil.empresa_perfil_id %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @documentos_empresa_perfil.documento_id %>
</p>

<%= link_to 'Edit', edit_documentos_empresa_perfil_path(@documentos_empresa_perfil) %> |
<%= link_to 'Back', documentos_empresa_perfils_path %>
