<div class="row-fluid">
  <div class="span12">
    <%= form_for(@vaga, html:  {class: "form-horizontal"}) do |f| %>
      <% if @vaga.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>

          <ul>
          <% @vaga.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h3 class="heading">NOVA VAGA</h3>
      <div class="control-group formSep">
          <table>
            <tr>
              <td align="right">Empresa: <div class="result"></div></td>
              <td><%= f.collection_select :empresa_id, Empresa.select('id,razao_social').order('2'),:id, :razao_social,{prompt: 'Selecione a Empresa'} %><span class="f_req">*</span></td>
            </tr>
          </table>
      </div>

      <h5 class="heading">A CONTRATAÇAO SERA PARA TRABALHAR:</h5>
      <div class="control-group formSep">
        <table>
          <tr>
            <td align="right"></td>
            <td>
              <table>
                <tr>
                  <td><%= f.select :tipo_vaga, 
                          ([
                          ["Selecione o tipo de vaga", ""],
                          ["Temporário", "1"],
                          ["Extras", "2"],
                          ["Free-Lancer", "3"],
                          ["Estágio", "4"],
                          ["Trainne", "5"],
                          ["Efetivo com registro em carteira", "6"],
                          ["Autonomo", "7"],
                          ["Representante Comercial", "8"],
                          ["Representante Comercial (obrigatório o core)", "9"],
                          ["Representante Comercial (obrigatório ter empresa com CNPJ)", "10"]
                          ]), onblur: "select_tipo()" %>
                          <span class="f_req">*</span>
                  </td>
                  <td align="right">Cargo:</td>
                  <td><%= f.collection_select :cargo_id, Cargo.select('id,nome').order('2'),:id, :nome, {prompt: 'Selecione o cargo'} %><span class="f_req">*</span></td>
                  <td style ="padding-left: 15px;">
                    Numero de Vagas: <%= f.number_field :numero_vagas, style: "width: 35px;" %> <span class="f_req">*</span>
                  </td>

                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div class="control-group formSep">
        <h5 class="heading">PERIODO EM QUE O CANDIDATO IRA TRABALHAR:</h5>
          <table style="display: none;" class="dias">
            <tr>
              <td width="130" align="right">Dias:</td>
              <td><%= f.select :periodo, 1..99 %><span class="f_req">*</span></td>
            </tr>
          </table>

          <table>
            <tr>
              <td height="35" align="right">Turno:</td>
              <td><%= f.check_box :turno_manha, :style => "margin-top: -2px;" %>Manhã</td>
              <td><%= f.check_box :turno_tarde, :style => "margin-top: -2px;" %>Tarde</td>
              <td><%= f.check_box :turno_noite, :style => "margin-top: -2px;" %>Noite</td>
            </tr>
            <tr>
              <td align="right">Horário específico: </td> 
              <td colspan="2"><%= f.time_select :turno_especifico_inicio %> às <%= f.time_select :turno_espeficico_final %></td>
            </tr>
            <tr height="45">
              <td align="right">Carga Horaria por dia:</td>
              <td><%= f.select :carga_horaria, 1..24 %></td>
            </tr>
          </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">DIAS DA SEMANA QUE IRA TRABALHAR COMO EXTRA</h5>
          <table>
            <tr>
              <% @dias_semanas.each do |c| %>
                <td>
                  <label class="checkbox" >
                    <%= check_box_tag "vaga[dias_semana_ids][]", c.id, @vaga.dias_semanas.include?(c), class: "id#{c.id}" %> <%= c.nome %>
                  </label>
                </td>
              <% end %>
            </tr>
          </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">O CANDIDATO DEVERA ESTAR CURSANDO</h5>
          <table>
            <tr>
              <td width="120"><%= f.radio_button :estagio_cursando, 0, :style => "margin-top: -2px;" %> Ensino médio</td>
              <td width="120"><%= f.radio_button :estagio_cursando, 1, :style => "margin-top: -2px;" %> Ensino Tecnico</td>
              <td width="120"><%= f.radio_button :estagio_cursando, 2, :style => "margin-top: -2px;" %> Nivel Superior</td>
              <td width="300">Curso:<%= f.collection_select :curso_id, Curso.select('id,nome').order('2'),:id, :nome,{prompt: 'Selecione o curso'} %><span class="f_req">*</span></td>
              <td width="100">Período:<%= f.select :cursando_periodo, 1..12 %></td>
            </tr>
          </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">PREFERENCIA DE CANDIDATOS:</h5>
        <table>
          <tr height="30">
            <td align="right"></td>
            <td width="250" colspan="4"><%= f.check_box :pne, :style => "margin-top: -2px;" %> ( PNE ) Pordador de necessidades especiais</td>
          </tr>

          <tr height="30">
            <td align="right">Sexo:</td>
            <td width="250"><%= f.radio_button :sexo, 0, :style => "margin-top: -2px;" %> Masculino</td>
            <td width="250"><%= f.radio_button :sexo, 1, :style => "margin-top: -2px;" %> Feminino</td>
            <td width="250"><%= f.radio_button :sexo, 2, :style => "margin-top: -2px;" %> Indiferente</td>
          </tr>

          <tr height="30">
            <td align="right">Estado Civil:</td>
            <td width="250"><%= f.radio_button :estado_civil, 0, :style => "margin-top: -2px;" %> Solteiro(a), Viuvo, Separado</td>
            <td width="250"><%= f.radio_button :estado_civil, 1, :style => "margin-top: -2px;" %> Casado(a), uninão estável</td>
            <td width="250"><%= f.radio_button :estado_civil, 2, :style => "margin-top: -2px;" %> Indiferente</td>
          </tr>

          <tr height="30">
            <td align="right">Carteira de Habilitacao:</td>
            <td colspan="2"><%= f.radio_button :cnh, 0, :style => "margin-top: -2px;" %> A
            <%= f.radio_button :cnh, 1, :style => "margin-top: -2px;" %> B
            <%= f.radio_button :cnh, 2, :style => "margin-top: -2px;" %> C
            <%= f.radio_button :cnh, 3, :style => "margin-top: -2px;" %> D
            <%= f.radio_button :cnh, 4, :style => "margin-top: -2px;" %> AB
            <%= f.radio_button :cnh, 5, :style => "margin-top: -2px;" %> AC
            <%= f.radio_button :cnh, 6, :style => "margin-top: -2px;" %> AD
            <%= f.radio_button :cnh, 7, :style => "margin-top: -2px;" %> AE</td>
          </tr>
          <tr>
            <td></td>
            <td width="250" colspan="4"><%= f.check_box :veiculo_proprio, :style => "margin-top: -2px;" %> Veiculo Proprio</td>
          </tr>

          <tr height="30">
            <td align="right">Outros:</td>
            <td width="250"><%= f.check_box :nao_fumante, :style => "margin-top: -2px;" %> Não fumante</td>
            <td width="250" colspan="4"><%= f.check_box :candidatos_regiao, :style => "margin-top: -2px;" %> Apenas candidatos moradores na minha cidade</td>
          </tr>
        </table>
      </div>
      <div class="control-group formSep">
        <h5 class="heading">IDIOMAS</h5>
        <table>
          <%= f.fields_for :idiomas_vagas do |builder| %>
              <%= render "idiomas_fields", :f => builder %>
          <% end %>
        </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">NIVEL ESCOLAR DESEJAVEL</h5>
        <table>
          <tr>
            <td><%= f.radio_button :escolaridade, 0, :style => "margin-top: -2px;" %> Ens. fundamental (até 8ª serie ou 9ª ano)</td>
          </tr>
          <tr>
            <td><%= f.radio_button :escolaridade, 1, :style => "margin-top: -2px;" %> Ens. médio (1º ou 3º ano do antigo 2º grau)</td>
          </tr>
            <td><%= f.radio_button :escolaridade, 2, :style => "margin-top: -2px;" %> Ens. Tecnólogo</td>
          </tr>
          <tr>
            <td><%= f.radio_button :escolaridade, 3, :style => "margin-top: -2px;" %> Ens. Superior (Bacharel)</td>
          </tr>
          <tr>
            <td><%= f.radio_button :escolaridade, 4, :style => "margin-top: -2px;" %> Ens. Superior (Licenciatura)</td>
          </tr>

          <tr>
            <td colspan="5">
              Estado:
              <%= f.radio_button :status_escolaridade, 0, :style => "margin-top: -2px;" %> Indiferente
              <%= f.radio_button :status_escolaridade, 1, :style => "margin-top: -2px;" %> Completo
              <%= f.radio_button :status_escolaridade, 2, :style => "margin-top: -2px;" %> Incompleto
              <%= f.radio_button :status_escolaridade, 3, :style => "margin-top: -2px;" %> Cursando
              período minino: <%= f.select :cursando_periodo, 1..12 %>
            </td>
          </tr>
        </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">EXPERIENCIA MINIMA DESEJADA:</h5>
        <table>
          <tr>
            <td width="200"><%= f.radio_button :experiencia, 0, :style => "margin-top: -2px;" %> Nenhuma</td>
            <td width="200"><%= f.radio_button :experiencia, 1, :style => "margin-top: -2px;" %> Com ou sem experiência</td>
            <td width="350">
              <%= f.radio_button :experiencia, 2, :style => "margin-top: -2px;" %> Com experiência minima de :<%= f.select :experiencia_qtd, 1..12 %>
              <%= f.radio_button :experiencia_mes_ano, 0, :style => "margin-top: -2px;" %> Mes
              <%= f.radio_button :experiencia_mes_ano, 0, :style => "margin-top: -2px;" %> Ano
            </td>
          </tr>
        </table>
      </div>


      <div class="control-group formSep">
        <h5 class="heading">SALARIO:</h5>
        <table>
          <tr>
            <%= f.radio_button :mostrar_salario, true, onchange: "BoxValores('true')" %> Divulgar Salario
            <%= f.radio_button :mostrar_salario, false, onchange: "BoxValores('false')" %> A combinar

            <input type="hidden" value="<%= @vaga.mostrar_salario %>" id="mostra_sa">
          </tr>
        </table>

        <table  id="box_salario">
          <tr>
            <td colspan="5">
              Salario inicial: <%= f.text_field :salario_inicial, class: 'money', dir: "rtl", size: 15 %>
              <%= f.radio_button :salario_por_hms, 0, :style => "margin-top: -2px;" %> Por hora
              <%= f.radio_button :salario_por_hms, 1, :style => "margin-top: -2px;" %> Por mês
              <%= f.radio_button :salario_por_hms, 2, :style => "margin-top: -2px;" %> Por semana
            </td>
          </tr>
          <tr>
            <td >Salário após experiência: <%= f.text_field :salario_pos_exp, class: 'money', dir: "rtl", size: 15 %></td>
          </tr>
          <tr>
            <td>
              <%= f.check_box :salario_comissao, :style => "margin-top: -2px;" %>Comissão <%= f.text_field :salario_comissao_porcen, size: 5 %>%
            </td>
          </tr>
          <tr>
            <td>
              <%= f.check_box :salario_bonif, :style => "margin-top: -2px;" %>Bonificação
            </td>
          </tr>
          <tr>
            <td>
              <%= f.check_box :salario_premiacao, :style => "margin-top: -2px;" %>Premiação
            </td>
          </tr>
        </table>
      </div>

  </div>
  <div class="actions">
    <%= f.submit'Salvar', data: { disable_with: "Aguarde..." }, class: "btn btn-gebo" %> <%= link_to 'Sair', vagas_path, :class => "btn" %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $("#vaga_empresa_id").focus();
  $("#vaga_empresa_id").blur(function(){
      $.each([ <%= @dias_semanas.map  { |t| t.id }.join(', ') %> ], function( index, value ) {
        $(".id"+value).prop('checked',(value == 1));
      });

    $.getJSON("/dias_semanas_empresa_perfils.json?q="+ $("#vaga_empresa_id").val(), function(data) {
      var items = [];
      $.each( data, function( key, val ) {
        items.push( $(".id"+val.id).attr('checked','checked'));
        });
    });
  });

$(document).ready(function() {

  if ($("#vaga_tipo_vaga").val() == '1' || $("#vaga_tipo_vaga").val() == '2' || $("#vaga_tipo_vaga").val() == '3'){
    $(".dias").css("display", "table-cell").fadeIn();
  }else{
    $(".dias").css("display", "none");
  };  


  $("#vaga_tipo_vaga").blur(function(){
    if ($("#vaga_tipo_vaga").val() == '1' || $("#vaga_tipo_vaga").val() == '2' || $("#vaga_tipo_vaga").val() == '3'){
      $(".dias").css("display", "table-cell").fadeIn();
    }else{
      $(".dias").css("display", "none");
    };  
  });

  if ($("#mostra_sa") == 'true'){
      $("#box_salario").css("display", "table-cell");
    }else{
      $("#box_salario").css("display", "none");
    };
});



  function BoxValores(valor){
    $("#mostra_sa").val(valor);
    if ($("#mostra_sa").val() == 'true'){
      $("#box_salario").css("display", "table-cell");
    }else{
      $("#box_salario").css("display", "none");
    };
  };

</script>

 
