<div class="row-fluid">
  <div class="span12">
    <%= form_for(@vaga, html:  {class: "form-horizontal"}) do |f| %>
      <% if @vaga.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>

          <ul>
          <% @vaga.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h3 class="heading">NOVA VAGA</h3>
      <div class="control-group formSep">
          <table>
            <tr>
              <td align="right">Empresa:</td>
              <td><%= f.collection_select :empresa_id, Empresa.select('id,razao_social').order('2'),:id, :razao_social,{prompt: 'Selecione a Empresa'} %><span class="f_req">*</span></td>
            </tr>
          </table>
      </div>

      <h5 class="heading">A CONTRATAÇAO SERA PARA TRABALHAR:</h5>
      <div class="control-group formSep">
        <table>
          <tr>
            <td align="right"></td>
            <td>
              <table>
                <tr>
                  <td width="220"><%= f.radio_button :tipo_vaga, 0 , :style => "margin-top: -2px;"%> Efetivo com registro em carteira</td>
                  <td width="300"><%= f.radio_button :tipo_vaga, 1, :style => "margin-top: -2px;" %> Temporário</td>
                  <td ><%= f.radio_button :tipo_vaga, 2, :style => "margin-top: -2px;" %> Estágio</td>
                </tr>
                <tr>
                  <td><%= f.radio_button :tipo_vaga, 3, :style => "margin-top: -2px;" %> Trainne</td>
                  <td><%= f.radio_button :tipo_vaga, 4, :style => "margin-top: -2px;" %> Free-Lancer</td>
                  <td><%= f.radio_button :tipo_vaga, 5, :style => "margin-top: -2px;" %> Autonomo</td>
                </tr>
                <tr>
                  <td><%= f.radio_button :tipo_vaga, 6, :style => "margin-top: -2px;" %> Representante Comercial</td>
                  <td><%= f.radio_button :tipo_vaga, 7, :style => "margin-top: -2px;" %> Representante Comercial (obrigatório o core)</td>
                  <td><%= f.radio_button :tipo_vaga, 8, :style => "margin-top: -2px;" %> Representante Comercial (obrigatório ter empresa com CNPJ)</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div class="control-group formSep">
          <table>
            <tr>
              <td align="right">Cargo:</td>
              <td><%= f.collection_select :cargo_id, Cargo.select('id,nome').order('2'),:id, :nome,{prompt: 'Selecione o cargo'} %><span class="f_req">*</span></td>
              <td style ="padding-left: 15px;">
                Numero de Vagas: <%= f.number_field :numero_vagas, style: "width: 35px;" %> <span class="f_req">*</span>
              </td>
            </tr>
          </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">PERIODO EM QUE O CANDIDATO IRA TRABALHAR</h5>
          <table>
            <tr>
              <td align="right">Dias:</td>
              <td><%= f.select :periodo, 1..99 %><span class="f_req">*</span></td>
            </tr>
          </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">DIAS DA SEMANA QUE IRA TRABALHAR COMO EXTRA</h5>
          <table>
            <tr>
              <% @dias_semanas.each do |c| %>
                <td>
                  <label class="checkbox" >
                    <%= check_box_tag "vagas[dias_semana_ids][]", c.id, @vaga.dias_semanas.include?(c) %> <%= c.nome %>
                  </label>
                </td>
              <% end %>
            </tr>
          </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">O CANDIDATO DEVERA ESTAR CURSANDO</h5>
          <table>
            <tr>
              <td width="120"><%= f.radio_button :estagio_cursando, 0, :style => "margin-top: -2px;" %> Ensino médio</td>
              <td width="120"><%= f.radio_button :estagio_cursando, 1, :style => "margin-top: -2px;" %> Ensino Tecnico</td>
              <td width="120"><%= f.radio_button :estagio_cursando, 2, :style => "margin-top: -2px;" %> Nivel Superior</td>
              <td width="300">Curso:<%= f.collection_select :curso_id, Curso.select('id,nome').order('2'),:id, :nome,{prompt: 'Selecione o curso'} %><span class="f_req">*</span></td>
              <td width="100">Período:<%= f.select :cursando_periodo, 1..12 %></td>
            </tr>
          </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">CARGA HORARIA DIARIO</h5>
          <table>
            <tr>
              <td>Horas por dia:<%= f.select :carga_horaria, 1..6 %></td>
            </tr>
          </table>
      </div>

  </div>
  <div class="actions">
    <%= f.submit'Salvar', data: { disable_with: "Aguarde..." }, class: "btn btn-gebo" %> <%= link_to 'Sair', vagas_path, :class => "btn" %>
  </div>
</div>
<% end %>
