<h1>Listing vagas</h1>

<table>
  <thead>
    <tr>
      <th>Efetivo carteira</th>
      <th>Temporario</th>
      <th>Extra</th>
      <th>Trainer</th>
      <th>Free lancer</th>
      <th>Autonomo</th>
      <th>Representante</th>
      <th>Comerical</th>
      <th>Comercial tipo</th>
      <th>Periodo</th>
      <th>Empresa</th>
      <th>Cargo</th>
      <th>Numero vagas</th>
      <th>Sexo</th>
      <th>Pne</th>
      <th>Estado civil</th>
      <th>Outros detalhes candito</th>
      <th>Escolaridade</th>
      <th>Area tecnologo</th>
      <th>Area superior</th>
      <th>Status escolaridade</th>
      <th>Cursando periodo</th>
      <th>Experiencia</th>
      <th>Conhecimentos desejaveis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td><%= vaga.efetivo_carteira %></td>
        <td><%= vaga.temporario %></td>
        <td><%= vaga.extra %></td>
        <td><%= vaga.trainer %></td>
        <td><%= vaga.free_lancer %></td>
        <td><%= vaga.autonomo %></td>
        <td><%= vaga.representante %></td>
        <td><%= vaga.comerical %></td>
        <td><%= vaga.comercial_tipo %></td>
        <td><%= vaga.periodo %></td>
        <td><%= vaga.empresa_id %></td>
        <td><%= vaga.cargo_id %></td>
        <td><%= vaga.numero_vagas %></td>
        <td><%= vaga.sexo %></td>
        <td><%= vaga.pne %></td>
        <td><%= vaga.estado_civil %></td>
        <td><%= vaga.outros_detalhes_candito %></td>
        <td><%= vaga.escolaridade %></td>
        <td><%= vaga.area_tecnologo %></td>
        <td><%= vaga.area_superior %></td>
        <td><%= vaga.status_escolaridade %></td>
        <td><%= vaga.cursando_periodo %></td>
        <td><%= vaga.experiencia %></td>
        <td><%= vaga.conhecimentos_desejaveis %></td>
        <td><%= link_to 'Show', vaga %></td>
        <td><%= link_to 'Edit', edit_vaga_path(vaga) %></td>
        <td><%= link_to 'Destroy', vaga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaga', new_vaga_path %>
