<h1>Listing nacionalidades</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nacionalidades.each do |nacionalidade| %>
      <tr>
        <td><%= nacionalidade.nome %></td>
        <td><%= link_to 'Show', nacionalidade %></td>
        <td><%= link_to 'Edit', edit_nacionalidade_path(nacionalidade) %></td>
        <td><%= link_to 'Destroy', nacionalidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nacionalidade', new_nacionalidade_path %>
