<table class="table table-striped table-bordered dTableR">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Cargo e Atividades</th>
      <th>Empresa</th>
      <th>Periodo</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <% candidato_experiencias.each do |c| %>
    <tr>
      <td width='150'><%= c.tipo_vaga.nome unless c.tipo_vaga_id.nil? %></td>
      <td width='150'><%= c.candidato_experiencias_cargos.map  { |t| t.cargo.nome }.join(', ') %> </td>
      <td width='220'><%= c.empresa_nome %></td>
      <td width='65'>
        <% if c.periodo.to_i > 0 %>
          <%= c.periodo %> 
          <% if c.mes_ano == 0 %>
            <% if c.periodo.to_i > 1 %>
              mêses
            <% else %>
              mês
            <% end %>
          <% elsif c.mes_ano == 1 %>
            <% if c.periodo.to_i > 1 %>
              anos
            <% else %>
              ano
            <% end %>
          <% end %>
        <% else %>
          Atualmente
        <% end %>
      </td>
      <td width="70">
        <%= link_to 'Editar', edit_candidato_experiencia_path(c) %> |
        <%= link_to 'Remover', c, method: :delete, data: { confirm: 'Deseja realmente remover o registro?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
