<table class="table table-striped table-bordered dTableR">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Cargo</th>
      <th>Empresa</th>
      <th>Periodo</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <% candidato_experiencias.each do |c| %>
    <tr>
      <td width='150'><%= c.tipo_vaga.nome unless c.tipo_vaga_id.nil? %></td>
      <td width='150'><%= c.cargo.nome %></td>
      <td width='220'><%= c.empresa_nome %></td>
      <td width='65'>
      <% if c.atual.to_i == 1 %>
        Atualmente
      <% else %>
        <%= c.inicio_mes %>/<%= c.inicio_ano %>-<%= c.final_mes %>/<%= c.final_ano %></td>
      <% end %>
      
      <td width="70">
        <%= link_to 'Editar', edit_candidato_experiencia_path(c) %> |
        <%= link_to 'Remover', c, method: :delete, data: { confirm: 'Deseja realmente remover o registro?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
