<div class="row-fluid">
  <div class="span12">
    <%= form_for(@candidato, html:  {class: "form-horizontal"}) do |f| %>
      <% if @candidato.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidato.errors.count, "error") %> prohibited this candidato from being saved:</h2>

          <ul>
          <% @candidato.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h3 class="heading"><span>1. DADOS PESSOAIS</span> <span style="color:#999; margin-left: 20%">2. DADOS PROFISSIONAIS</span></h3>
      <div class="control-group formSep">
        <table>
          <tr>
            <td align="right">Nome:</td>
            <td colspan="2"><%= f.text_field :nome, size: 50 %><span class="f_req">*</span></td>
            <td>
              <%= f.radio_button :sexo, 0 %> Masculino
              <%= f.radio_button :sexo, 1 %> Feminino
            </td>
          </tr>
          <tr>
            <td align="right"> RG:</td>
            <td><%= f.text_field :rg, size: 10, class: 'rg' %><span class="f_req">*</span></td>
            <td height="35"><%= f.collection_select :uf, State.select('acronym').order('1'),:acronym, :acronym,{prompt: 'UF'} %><span class="f_req">*</span>
          </td>

          <tr>
            <td align="right"> Data de Nascimento:</td>
            <td><%= f.date_select :data_nascimento, size: 30 %><span class="f_req">*</span></td>
          </tr>
          <tr>
            <td align="right">Nome da Mae:</td>
            <td colspan="4"><%= f.text_field :nome_mae, size: 50 %><span class="f_req">*</span></td>
          </tr>
        </table>
      </div>

      <div class="control-group formSep">
        <h5 class="heading">Contato</h5>
        <table>
          <tr>
            <td align="right" width="115">Celular:</td>
            <td><%= f.text_field :contato_cel, size: 20, class: 'telefone' %><span class="f_req">*</span></td>
            <td align="right">Operadora:</td>
            <td><%= f.select :operadora_id, 
                          ([
                          ["Selecione a operadora", ""],
                          ["TIM", "1"],
                          ["VIVO", "2"],
                          ["OI", "3"],
                          ["CLARO", "4"],
                          ["NEXTEL", "5"],
                          ["SERCOMTEL", "6"],
                          ["CTBR", "7"],
                          ["TELEMIG CELULAR", "8"],
                          ["OUTROS","99"]
                          ])%>
                          <span class="f_req">*</span> </td>
          </tr>
          <tr>
            <td align="right" width="115">Telefone Residencial:</td>
            <td><%= f.text_field :contato_residencial, size: 20, class: 'telefone' %><span class="f_req">*</span></td>
          </tr>

          <tr>
            <td align="right" width="115">E-mail 01:</td>
            <td><%= f.text_field :email_01, size: 20, class: 'telefone' %><span class="f_req">*</span></td>
          </tr>

          <tr>
            <td align="right" width="115">E-mail 02:</td>
            <td><%= f.text_field :email_02, size: 20, class: 'telefone' %></td>
          </tr>

          <tr>
            <td align="right" width="115">E-mail 03:</td>
            <td><%= f.text_field :email_03, size: 20, class: 'telefone' %></td>
          </tr>
        </table>
      </div>


      <div class="control-group formSep">
        <h5 class="heading">Localização</h5>
        <table>
          <tr>
            <td align="right" width="115">CEP:</td>
            <td><%= f.text_field :cep, size: 10, class: 'cep' %><span class="f_req">*</span></td>
            <td align="right">Endereço:</td>
            <td><%= f.text_field :endereco, size: 35, maxlength: 100, placeholder: 'Ex. Rua Augusta jardin'  %><span class="f_req">*</span></td>
            <td align="right">Nº:</td>
            <td><%= f.text_field :numero, size: 5 %><span class="f_req">*</span></td>

          </tr>
          <tr>
            <td align="right">Complemento:</td>
            <td colspan="3"><%= f.text_field :complemento, size: 63, maxlength: 100 %></td>
            <td align="right" width="115">Região:</td>
            <td colspan="3"><%= f.text_field :regiao, size: 30, maxlength: 100, placeholder: 'Ex. vila A' %></td>
          </tr>
          <tr>
            <td align="right">Estado:</td>
            <td colspan="3">
              <%= f.collection_select :state_id, State.select('id,name').order('2'),:id, :name,{prompt: 'Selecione o Estado'} %><span class="f_req">*</span>
            </td>
            <td align="right">Cidade:</td>
            <td>
              <%= f.collection_select :city_id, City.select('id,name').order('2'),:id, :name,{prompt: 'Selecione a Cidade'} %><span class="f_req">*</span>
            </td>
          </tr>
        </table>
      </div>


      <div class="control-group formSep">
        <h5 class="heading">Informacoes Complementares</h5>
        <table>
          <tr>
            <td align="right" width="115">Nacionalidade:</td>
            <td  colspan="4"><%= f.select :operadora_id, 
                          ([
                          ["Selecione a nacionalidade", ""],
                          ["Brasileiro", "1"],
                          ["Alemao", "2"],
                          ["Italiano", "3"],
                          ["Frances", "4"],
                          ["Portugues", "5"],
                          ["OUTROS","99"]
                          ])%></td>
            
          </tr>
          <tr>
            <td align="right" height="30">Voce e Fumante?:</td>
            <td><%= f.check_box :fumante %></td>
          </tr>
          <tr>
            <td align="right" height="30">PNE:</td>
            <td><%= f.check_box :pne %>(Portador de Necessidades Especiais)</td>
          </tr>
          <tr>
            <td align="right">Voce e Deficiente:</td>
            <td><%= f.select :pne_tipo, 
                          ([
                          ["Selecione o Tipo", ""],
                          ["Auditivo", "1"],
                          ["Verbal", "2"],
                          ["Avancado", "3"],
                          ["Mental", "4"]
                          ])%>
                          <span class="f_req">*</span> </td>
            <td align="right"  height="35">Como voce avalia o seu grau de deficiencia:</td>
            <td><%= f.select :png_grau, 
                          ([
                          ["Selecione o Grau de deficiencia", ""],
                          ["Leve", "1"],
                          ["Moderada", "2"],
                          ["Avancada", "3"],
                          ["Total", "4"]
                          ])%></td>
            
          </tr>
          <tr>
            <td align="right">Fale um pouco sobre as dificuldades que tem:</td>
            <td colspan="4"> 
              <%= f.text_area :pne_detalhe, cols: 95, rows: 5 %>
            </td>
          </tr>

          <tr height="40">
            <td align="right">Estado Civil:</td>
            <td width="250"><%= f.radio_button :estado_civil, 0, :style => "margin-top: -2px;" %> Solteiro(a), Viuvo, Separado</td>
            <td width="250"><%= f.radio_button :estado_civil, 1, :style => "margin-top: -2px;" %> Casado(a), uninão estável</td>
            <td width="250"><%= f.radio_button :estado_civil, 2, :style => "margin-top: -2px;" %> Indiferente</td>
          </tr>

        </table>
      </div>

      <div class="actions">
        <%= f.submit 'Seguir', data: { disable_with: "Aguarde..." }, class: "btn btn-gebo" %>
      </div>
    <% end %>
  </div>
</div>