<div class="row-fluid">
  <div class="span12">
    <h3 class="heading"><span style="color:#999; margin-right: 18%">1. DADOS PESSOAIS</span> <span >2. DADOS PROFISSIONAIS</span></h3>
    <div class="control-group formSep">
      <h5 class="heading">Formação Acadêmica</h5>
      <%= render :partial=>"candidato_formacaos/index_formacao", :locals=>{:candidato_formacaos => @candidato.candidato_formacaos} %>
      <%= link_to 'Add Formação', '#', class: 'open_formacao' %>
      <div class="formacao" style="display:none">
        <%= render :partial=>"candidato_formacaos/new_formacao", :locals=>{:candidato_formacao=>CandidatoFormacao.new(:candidato_id=>@candidato.id)} %>
      </div>
    </div>

    <div class="control-group formSep">
      <h5 class="heading">Idiomas</h5>
      <%= render :partial=>"candidato_idiomas/index_idioma", :locals=>{:candidato_idiomas => @candidato.candidato_idiomas} %>
      <%= link_to 'Add Idioma', '#', class: 'open_idioma' %>
      <div class="idioma" style="display:none">
        <%= render :partial=>"candidato_idiomas/new_idioma", :locals=>{:candidato_idioma=>CandidatoIdioma.new(:candidato_id=>@candidato.id)} %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<%= link_to 'Voltar', edit_candidato_path(@candidato), class: "btn btn-gebo" %>
<%= link_to 'Sair', candidatos_path, class: "btn btn-gebo" %>

<script type="text/javascript">

$('.open_formacao').toggle(
  function() { $('.formacao').fadeIn();
               $('.open_formacao').text("Fechar");
               $('#candidato_formacao_formacao_id').focus();

  },
  function() { $('.formacao').fadeOut();
               $('.open_formacao').text("Add Formacao");
  }
);
$('.open_idioma').toggle(
  function() { $('.idioma').fadeIn();
               $('.open_idioma').text("Fechar");
               $('#candidato_idioma_idioma_id').focus();

  },
  function() { $('.idioma').fadeOut();
               $('.open_idioma').text("Add Formacao");
  }
);

</script>