<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @candidato.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @candidato.rg %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @candidato.uf %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @candidato.cpf %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @candidato.data_nascimento %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @candidato.idade %>
</p>

<p>
  <strong>Nome mae:</strong>
  <%= @candidato.nome_mae %>
</p>

<p>
  <strong>Contato cel:</strong>
  <%= @candidato.contato_cel %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @candidato.operadora_id %>
</p>

<p>
  <strong>Contato residencial:</strong>
  <%= @candidato.contato_residencial %>
</p>

<p>
  <strong>Email 01:</strong>
  <%= @candidato.email_01 %>
</p>

<p>
  <strong>Email 02:</strong>
  <%= @candidato.email_02 %>
</p>

<p>
  <strong>Email 03:</strong>
  <%= @candidato.email_03 %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @candidato.cep %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @candidato.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @candidato.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @candidato.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @candidato.bairro %>
</p>

<p>
  <strong>Regiao:</strong>
  <%= @candidato.regiao %>
</p>

<p>
  <strong>State:</strong>
  <%= @candidato.state_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidato.city_id %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @candidato.pais %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @candidato.nacionalidade_id %>
</p>

<p>
  <strong>Fumante:</strong>
  <%= @candidato.fumante %>
</p>

<p>
  <strong>Pne:</strong>
  <%= @candidato.pne %>
</p>

<p>
  <strong>Pne tipo:</strong>
  <%= @candidato.pne_tipo %>
</p>

<p>
  <strong>Png grau:</strong>
  <%= @candidato.png_grau %>
</p>

<p>
  <strong>Pne detalhe:</strong>
  <%= @candidato.pne_detalhe %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @candidato.estado_civil %>
</p>

<p>
  <strong>Filhos:</strong>
  <%= @candidato.filhos %>
</p>

<p>
  <strong>Filhos qtd:</strong>
  <%= @candidato.filhos_qtd %>
</p>

<p>
  <strong>Filhos cacula:</strong>
  <%= @candidato.filhos_cacula %>
</p>

<%= link_to 'Edit', edit_candidato_path(@candidato) %> |
<%= link_to 'Back', candidatos_path %>
