<h1>Listing formacaos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formacaos.each do |formacao| %>
      <tr>
        <td><%= formacao.descricao %></td>
        <td><%= link_to 'Show', formacao %></td>
        <td><%= link_to 'Edit', edit_formacao_path(formacao) %></td>
        <td><%= link_to 'Destroy', formacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formacao', new_formacao_path %>
