<p id="notice"><%= notice %></p>

<h1>Listing Candidatos_turnos</h1>

<table>
  <thead>
    <tr>
      <th>Candidato</th>
      <th>Turno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatos_turnos.each do |candidatos_turno| %>
      <tr>
        <td><%= candidatos_turno.candidato_id %></td>
        <td><%= candidatos_turno.turno_id %></td>
        <td><%= link_to 'Show', candidatos_turno %></td>
        <td><%= link_to 'Edit', edit_candidatos_turno_path(candidatos_turno) %></td>
        <td><%= link_to 'Destroy', candidatos_turno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidatos turno', new_candidatos_turno_path %>
