<%= form_for(@dias_semanas_empresa_perfil) do |f| %>
  <% if @dias_semanas_empresa_perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dias_semanas_empresa_perfil.errors.count, "error") %> prohibited this dias_semanas_empresa_perfil from being saved:</h2>

      <ul>
      <% @dias_semanas_empresa_perfil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :empresa_perfil_id %><br>
    <%= f.number_field :empresa_perfil_id %>
  </div>
  <div class="field">
    <%= f.label :dias_semana_id %><br>
    <%= f.number_field :dias_semana_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
